html,body{
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    width: 460px;
    
}
#inputField{
    width: 360px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#addToDo{
    height: 50px;
    width: 70px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 20px;
}
.to-dos{
    margin-top: 25px;
    border: none;
}

.paragraph-styling{
    margin: 15px;
    cursor: pointer;
    font-size: 20px;
}