/* *{
    margin: 0;
    padding: 0;
    
    }
    body{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* margin-top: 180px;
        background: rgb(73, 69, 69);
    }
    #content{
        width: 1100px;
        height: 600px;
        background-color: blanchedalmond;
    }
    h3{
        background-color: rgb(20, 18, 18);
        color:rgb(122, 109, 109);
        padding: 20px 50px;
    }
    h1{
        padding-left: 250px;
        margin-top: 30px;
    
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    textarea{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 200px; */
        /* padding-left: 500px;
        border-radius: 5px;
    }
    input{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-top: 00px;
        background-color: rgb(57, 57, 224);
        color: white;
    }
    .container{
        margin: 10 auto;
    } */ */ */

    .changed{
        text-decoration: line-through;
    }
    
    .unchanged{
        text-decoration: none;
    }